
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-image: url(../images/javier-martinez-hUD0PUczwJQ-unsplash.jpg);
    background-size: 100%;
}
nav {
    color: lawngreen;
}
h2{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}