
h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: url(../images/gradienta-kETkTQvJ7BI-unsplash.jpg);
    background-size: contain;
}
nav {
    color: lawngreen;
}
h2{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer{text-align: justify;
    color: rgb(140, 173, 210);
    contain: layout;
}
nav{
    text-align: center;
}
 intro{
    color: teal;
}